<header-component
    [background]="'#EF4C24'"
    [logo]="{ theme: 'light', visible: true }">
</header-component>
<div *ngIf="loading" class="content">
    <img class="loader" src="../../assets/imgs/spinner_white.svg"/>
</div>
<div *ngIf="!loading" class="content">
    <div class="content-body">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
                <input class="form-control username-control" type="text" id="name" name="name" placeholder="USERNAME" formControlName="username"/>
            </div>

            <div class="form-group">
                <input class="form-control password-control" type="password" id="password" name="password" placeholder="PASSWORD" formControlName="password"/>
            </div>

            <div class="form-group">
                <input class="form-control password-control" type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="CONFIRM PASSWORD" formControlName="passwordConfirmation"/>
            </div>

            <div class="error">{{ error }}</div>

            <button class="form-button" type="submit" >Register</button>
        </form>
    </div>
    <div class="content-footer">
        <p>ALREADY A PROTEUS USER?</p>
        <p class="link-button" (click)="goToLogin()">LOGIN</p>
    </div>
</div>
