page-login, page-register {
    .content {
        width            : 100%;
        height           : 100%;
        background-color : $pomegranate;

        .content-body {
            padding-top: 10%;

            form {
                height          : 60%;
                justify-content : center;
                text-align      : center;
                font-family     : $font-light;

                .form-group {
                    width      : 100%;
                    min-height : 75px;

                    input,
                    input::-webkit-input-placeholder {
                        padding-top : 14px;
                        font-family : $font-regular;
                        font-size   : 18px;
                        line-height : 1;
                        color       : $mandys-pink;
                    }

                    input {
                        width            : 80%;
                        background-color : transparent;
                        border           : none;
                        border-bottom    : 1px solid $mandys-pink;
                        padding-left     : 40px;
                        padding-bottom   : 3px;
                    }

                    .username-control {
                        background      : url('../assets/imgs/icon_user.svg') no-repeat scroll 0px 6px;
                        background-size : 8%;
                    }

                    .password-control {
                        background      : url('../assets/imgs/icon_password.svg') no-repeat scroll 0px 0px;
                        background-size : 8%;
                    }
                }

                .form-button {
                    width            : 100%;
                    min-height       : 85px;
                    background-color : $mandys-pink;
                    color            : $pomegranate;
                    font-size        : 38px;
                    font-family      : $font-bold;

                    &:hover, &:focus, &:active {
                        background-color : $eucalyptus;
                        color            : $mandys-pink;
                    }
                }

                .error {
                    height        : 30px;
                    margin-bottom : 25px;
                    color         : $mandys-pink;
                }
            }
        }
        .content-footer {
            padding-top  : 10%;
            padding-left : 10%;
            color        : $mandys-pink;
            font-size    : 15px;
            font-family  : $font-regular;

            p {
                margin: 5px;
            }

            .link-button {
                text-decoration: underline;
            }
        }
    }
}
