page-login {
    .content {
        width            : 100%;
        height           : 100%;
        background-color : $pomegranate;

        .header {
            padding         : 10px;
            height          : 15%;
            display         : flex;
            justify-content : center;
            text-align      : center;

            .logo {
                height: 70px;
            }
        }

        .content-body {
            padding-top: 10%;
            form {
                height: 60%;
                justify-content: center;
                text-align: center;
                font-family: $font-light;

                .form-group {
                    width: 100%;
                    min-height: 100px;

                    input,
                    input::-webkit-input-placeholder {
                        padding-top: 10px;
                        font-family: $font-regular;
                        font-size: 20px;
                        line-height: 1;
                        color: $mandys-pink;
                    }

                    input {
                        width: 80%;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid $mandys-pink;
                        padding-left: calc(10% + 20px);
                        padding-bottom: 10px;
                    }
                    .username-control {
                        background: url('../../assets/imgs/login_username_icon.svg') no-repeat scroll 20px 5px;
                        background-size: 8%;
                    }
                    .password-control {
                        background: url('../../assets/imgs/login_password_icon.svg') no-repeat scroll 20px 0px;
                        background-size: 8%;
                    }
                }

                .form-button {
                    width: 100%;
                    min-height: 100px;
                    opacity: 1;
                    color: $pomegranate;
                    font-family: $font-bold;
                    font-size: 40px;
                    background-color: $mandys-pink;
                }
            }
        }
        .content-footer {
            padding-top: 10%;
            color: white;
            font-size: 15px;
            padding-left: 10%;
            font-family: $font-regular;

            p {
                margin: 5px;
            }

            .reg-btn {
                text-decoration: underline;
            }
        }
    }


}
