<header-component
    [background]="'#154693'"
    [logo]="{ visible: false }"
    [left]="{ text: username, color: '#FFCCCC' }"
    [right]="{ text: 'ODJAVA', action: 'logout', color: '#FFCCCC' }">
</header-component>
<div *ngIf="loading" class="content">
    <img class="loader" src="../../assets/imgs/spinner_white.svg"/>
</div>
<div *ngIf="!loading" class="content">
    <img class="logo" src="../../assets/imgs/logo_light_with_text.svg"/>
    <div class="button-go" (click)="goToFilters()">Let's go!</div>
</div>
