page-details {
    .content-wrapper {
        width            : 100%;
        height           : 100%;
        background-color : $eucalyptus;
        overflow-y       : scroll;

        .content {
            height     : 85%;
            overflow-y : scroll;

            .top {
                position   : relative;
                height     : 130px;
                text-align : center;

                .close-icon {
                    position : absolute;
                    top      : 20px;
                    right    : 15px;
                }

                .title {
                    position  : absolute;
                    bottom    : 10px;
                    width     : 100%;
                    margin    : 0 !important;
                    padding   : 0 !important;
                    color     : $pink;
                    font-size : 25px;
                }
            }

            .image-wrapper {
                padding-top : 20px;
            }


            .sound-wrapper {
                padding-top     : 20px;
                display         : flex;
                justify-content : center;

                .play-icon {
                    width  : 80px;
                    height : 80px;
                }
            }

            .description {
                padding   : 10px 20px;
                color     : $pink;
                font-size : 17px;
            }
        }
    }
}
